<?xml version="1.0" encoding="utf-8"?>
<robot
  name="roller_3rd"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo reference="leg1_1_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg1_2_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg1_3_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg2_1_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg2_2_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg2_3_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg3_1_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg3_2_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg3_3_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg4_1_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg4_2_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="leg4_3_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="mecanum1_link">
    <mu1>0.01</mu1>  <!-- 极低摩擦实现自由转向 -->
    <mu2>0.01</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <gazebo reference="mecanum2_link">
    <mu1>0.01</mu1>  <!-- 极低摩擦实现自由转向 -->
    <mu2>0.01</mu2>
    <kp>5000</kp>
    <kd>10</kd>
  </gazebo>

  <transmission name="leg1_1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg1_1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg1_1_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg1_2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg1_2_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg1_2_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg1_3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg1_3_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg1_3_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg2_1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg2_1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg2_1_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg2_2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg2_2_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg2_2_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg2_3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg2_3_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg2_3_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg3_1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg3_1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg3_1_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg3_2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg3_2_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg3_2_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg3_3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg3_3_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg3_3_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg4_1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg4_1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg4_1_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg4_2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg4_2_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg4_2_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="leg4_3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="leg4_3_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="leg4_3_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <legacyModeNS>true</legacyModeNS>

      <scene>
        <shadows>false</shadows>
        <ambient>1.0 1.0 1.0 1.0</ambient>
      </scene>

    </plugin>
  </gazebo>

</robot>